*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.logo{
    color: white;
    font-size: larger;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
}
ul{
    padding: 15px;
    display: flex;
    justify-content: space-between;

}
ul li{
    list-style-type: none;
    padding: 3px;
   margin-bottom: 20px;
   margin-left: 15px;
  
}
ul li a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-weight:bold;
}
#header{
    background-image: url("header1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
}
.content{
    text-align: center;
    padding: 7rem;
}
h1{
   font-size:50px;
   font-weight: bolder;
   color: aliceblue;
   margin-bottom: 20px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
hr{
 width: 50%;
 border:solid 1px #61c2f7;
 margin: 20px auto;
}
p{
    color: white;
    font-weight: 300;
    margin-bottom: 2rem;
}
.content a{
text-decoration: none;
color: #fff;
padding: 9px 10px;
border:solid 1px #61c2f7 ;
font-weight: bold;
letter-spacing: 2px;
font-family: Arial, Helvetica, sans-serif;
}
#main{
    text-align: center;
    width: 100%;
    height: 20vh;
    background-color: rgb(238, 233, 226);
}

#main p{
    color: grey;
    margin-top: 15px;
}
#main h3{
    font-size: xx-large;
    font-weight: 400;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-icon{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
.containe-icon h3{
    font-weight: bold;
    
}
.container-icon p{
    color: gray;
}
.item{
    text-align: center;
    background-color:rgb(238, 233, 226) ;
}
.item h3{
    font-weight:bold;
    font-size:30px;
    color: black;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.item p{
   color: gray;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 2px 30px 50px 30px;
   
}
.container img{
    width: 100%;
    height: 100%;
}
#footer{
    background-image: url("footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
}
.hero {
    text-align: center;
   
}
.hero h3{
    color: white;
   padding-top:  15px;
   font-size: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hero p{
    color: white;
    margin-top: 10px;
}
.contact-form {
width: 600px;
text-align: center;
margin: 20px auto;
}

.contact-form input[type=text],input[type=email], textarea {
width: 600px;
padding: 15px;
margin-bottom: 15px;
background: transparent;
display: block;
color: #ecece2;
border: 1px solid white;
}

span {
background: transparent;
padding: 10px 30px;
color: rgb(236, 231, 231);
font-size: 16px;
margin-left: 40px;
color: rgb(235, 224, 224);

float: left;
}

input[type=checkbox]{
margin-right: 20px;
}
input[type=submit]{
background: transparent;
padding: 10px 30px;
color: rgb(247, 238, 238);
font-size: 16px;
border: solid 1px #61c2f7;
}

#end{
    background-color:rgb(238, 233, 226)  ;
    width: 100%;
    height: 50px;

}
.copy{
    float: left;
}
.copy p{
    color: gray;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}
.icons {
    float: right;
    display: flex;
    gap: 5px;
  
   
}
.icons img{
  width: 10%;
  height: 10%;
  padding-top: 10px;
}
